html {
  background: #f2f1f4;
  color: #19171c;
}
.description {
  display: none;
}
.active + .description {
display: block;
color: #8190e0;
}
.title {
  color: #9fcb9f;
  padding: 2px;
}
.accordion {
  width: 100%;
  display: flex;
  flex-flow: wrap column;
  align-items: center;
  font-family: 'Vollkorn SC', serif;
  font-size: 30px;
}
.title::before {
    font-family: 'Material Icons';
    font-weight: normal;
    font-style: normal;
    font-size: 24px;
    line-height: 1;
    letter-spacing: normal;
    text-transform: none;
    display: inline-block;
    white-space: nowrap;
    word-wrap: normal;
    direction: ltr;
    -webkit-font-feature-settings: 'liga';
    -webkit-font-smoothing: antialiased;
    content: "add";
}
.active::before  {
content: "remove";
color: #8190e0;
}
.title:nth-child(odd) {
  color: red;
}
.title:hover {
  color: #8da78d;
}
